.header {
  padding: 35px 60px;
  /* background-image: url("/images/movie-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #6f6b6b;
  font-size: 18px;
}

.list {
  list-style-type: none;
  display: flex;
  gap: 30px;
}

.link {
  text-decoration: none;
  font-weight: bold;
}

.link:hover {
  color: #fa97b4;
  transition: all 0.3s ease;
}

.link:active {
  color: #e06288;
  transition: all 0.3s ease;
}
.form {
  display: flex;
  align-items: center;
  gap: 15px;
}

.input {
  padding: 8px 20px;
  border-radius: 4px;
}

.button {
  padding: 8px 15px;
  border-radius: 4px;
  background: transparent;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid #fff;
}
