.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  width: 700px;
}

.button {
  padding: 8px 15px;
  border-radius: 3px;
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
}

.button:hover {
  color: #e06288;
  border: 2px solid #e06288;
  transition: all 0.4s ease;
}

.button:active {
  transform: scale(1.1);
  transition: all 0.4s ease;
}

.align {
  display: flex;
  align-items: center;
  gap: 20px;
}
