.main {
  height: 100vh;
}

.title {
  font-size: 50px;
  text-align: center;
  position: relative;
}

.title::after {
  content: "";
  display: block;
  width: 146px;
  height: 23px;
  position: absolute;
  background-color: rgb(224 98 136 / 50%);
  bottom: 7px;
  left: 44%;
  z-index: -1;
  border-radius: 3px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
